:root {
    --width: calc(744px / 4);
    --height: calc(1039px / 4);
}

body {
    box-sizing : border-box;
    margin: 0;
    background-image: url("background.webp");
}

.card {
    width: calc(744px / 4);
    height: calc(1039px / 4);
    border-radius: 11px;
    transition: transform 1.5s ease, background-color 0.2s ease;
    margin: 8px;
    border: 1px solid grey;
}

.card:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.card > .back {
    width: calc(744px / 4);
    height: calc(1039px / 4);
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.back-image {
    width: calc(1039px / 6);
    height: calc(1039px / 4.2);
    border-radius: 8px;
    background-image: url('kaamelott-back-cover.jpg');
}

.card > .front {
    width: calc(744px / 4);
    height: calc(1039px / 4);
    border-radius: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: red;*/
    position: relative;
    bottom: var(--height);
}

#button-none {
    text-decoration: none;
    text-align: center;
    padding: 8px 16px;
    color: black;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    transition: background-color 0.2s;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.3);
    margin: 16px 0;
    cursor: pointer;
}

#game-board {
    display:none;
}

#player-1 {
    position: absolute;
    top: 8px;
    right:1%;
}

#player-2 {
    position: absolute;
    bottom: 8px;
    left: 1%;
}

#player-1 > img {
    width: 170px;
    height: 140px;
    border-radius: 100%;
    border: 2px solid white;
}

#player-2 > img {
    width: 170px;
    height: 140px;
    border-radius: 100%;
    border: 2px solid white;
}