:root {
    --width: calc(744px / 4);
    --height: calc(1039px / 4);
}

body {
    box-sizing: border-box;
    margin: 0;
    background-image: url("images/background.webp");
    user-select: none;
}

#start-game {
    display: flex;
    flex-direction: column;
}

.card {
    margin: 8px;
    width: calc(744px / 5);
    height: calc(1039px / 5);
    perspective: 1000px;
    text-align: center;
}

.card:hover {
    /*transform: rotateY(180deg);*/
    cursor: pointer;
    position: relative;
    bottom: 20px;
}

.card:active {
    /* Faudrait mettre un truc mais à réfléchir */
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.card-back {
    background-image: url('images/kaamelott-back-cover.jpg');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.card-front {
    /*transform: rotateY(180deg);*/
    background-image: url('');
    background-size: cover;
    background-position: center bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-front, .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-back:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

.card-icons {
    font-family: 'Oldania ADF Std';
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 8px;
    background: linear-gradient(180deg, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 68%, rgba(255,255,255,1) 100%); 
    max-width: 100%;
    position: absolute;
    bottom: 0;
    height: 80%;
}

.heart, .shield, .weapon, .gem {
    font-size: 24px;
    color: black;
    width: 42px;
    height: 42px;
    margin: 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition: opacity .2s;
}

.heart {
    background-image: url('images/heart.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: green;
}

.shield {
    background-image: url('images/shield.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: blue;
}

.weapon {
    background-image: url('images/sword.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: red;
}

.gem {
    background-image: url('images/gem.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: purple;
}

#game-board {
    display: none;
}

#player-1 {
    position: absolute;
    top: 8px;
    right: 1%;
}

#player-2 {
    position: absolute;
    bottom: 8px;
    left: 1%;
}

#player-1 > img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 2px solid white;
}

#player-2 > img {
    width: 140px;
    height: 140px;
    border-radius: 100%;
    border: 2px solid white;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 98vh;
    align-items: flex-end;
}

.hand-player1 {
    display: flex;
    justify-content: space-evenly;
}

.hand-player2 {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    top: 0;
}

#button-start {
    text-decoration: none;
    text-align: center;
    padding: 16px;
    background-color: rgb(194, 163, 27);
    color: black;
    border-radius: 4px;
    outline: none;
    border: none;
    font-size: 18px;
    transition: background-color 0.2s;
    box-shadow: 3px 3px 0 0 rgba(0,0,0,0.3);
    margin: 16px 0;
    cursor: pointer;
}

#button-start:active {
    position: relative;
    top: 2px;
    left: 2px;
    background-color: rgb(165, 136, 4);
}
